{% extends '::base.html.twig' %}

{% block body %}

<h1>River list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>lp.</th>
            <th>Nazwa</th>
            <th>Długość</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ loop.index }}.</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.length }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock body %}